body {
    background-color: #444444;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: Hack, monospace;
}

.SearchEngineWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.SearchEngineButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 1px;
    padding: 0.5em;
    border: none;
    border-radius: 8px 8px 0px 0px;
    background-color: #1E1E1E;
    color: white;
    width: 9.5em;
    height: 2.4em;
    font-size: 20px;
    cursor: pointer;
}

.SearchEngineName {
    margin-right: 1em;
}

.SearchEngineLogo {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
    transition: filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.SearchEngineButton:hover .SearchEngineLogo {
    filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(174deg) brightness(105%) contrast(100%) drop-shadow(0 0 0.2rem #ffffff);
}

.SelectedSearchEngine {
    height: 2.90em;
    border-top: thick solid #ffffff;
}

.SelectedSearchEngine:hover, .SelectedSearchEngine:focus {
  outline: none;
}

.SelectedSearchEngine .SearchEngineLogo {
    filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(174deg) brightness(105%) contrast(100%) drop-shadow(0 0 0.2rem #ffffff);
}

#SearchField {
    outline: 0; 
    width: 100%;
    background: #fff;
    margin-top: .4em;
    padding: 0 1.6rem;
    border-radius: 6px;
    z-index: 1;
    position: relative;
    height: 1.9em;
    border: 0;
    color: #2f2f2f;
    font-size: 1.8rem;
}
